/* BEGIN (write your solution here) */
@font-face {
    font-weight: 400;
    font-family: Raleway;
    src: url("Raleway-Regular.ttf");
  }
  
  @font-face {
    font-weight: 700;
    font-family: Raleway;
    src: url("Raleway-Bold.ttf");
  }

  @font-face {
    font-weight: 400;
    font-family: RussoOne-Regular;
    src: url("RussoOne-Regular.ttf");
  }
  
  /* END */
  
  body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 50px;
  
    color: #eee;
  
    /* BEGIN (write your solution here) */
    font: 20px/1.5 Raleway, sans-serif;
  
    /* END */
  
    background: #222831;
  }
  
  img {
    max-width: 100%;
  
    vertical-align: middle;
  }
  
  a {
    color: inherit;
    font-family: RussoOne-Regular, sans-serif;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    color: #00adb5;
    font-size: 1.5em;
  }
  
  .tabs {
    width: 1024px;
    margin: 0 auto;
  
    /* BEGIN (write your solution here) */
    column-count: 3;
    break-inside: avoid;
  
    column-gap: 0;
  
    /* END */
  }
  
  /* BEGIN (write your solution here) */
  .tabs-content {
    background: #393e46;
    width: 100%;
  }
  
  .tabs-content-item {
    display: none;
    column-count: 3;
    column-gap: 30px;
    padding: 20px;
    break-inside: avoid;
  }
  
  .tab-name {
    display: block;
    padding: 20px;
  
    text-align: center;
    background-color: #00adb5;
  
    text-decoration: none;
  }
  
  .tab-name:hover {
    border-bottom: 3px solid #5ffbf1;
  }
  
  a[data-tab="html"]:hover ~ div [data-tab-content="html"] {
    display: block;
  }
  
  a[data-tab="css"]:hover ~ div [data-tab-content="css"] {
    display: block;
  }
  
  a[data-tab="js"]:hover ~ div [data-tab-content="js"] {
    display: block;
  }
  
  /* END */
  
  .span-all {
    column-span: all;
  }
