body {
    width: 700px;
    margin: 0 auto;
    padding: 100px 0;
  
    font-family: serif;
  
    background-color: rgb(238, 238, 103);
  }
  
  /* BEGIN (write your solution here) */
  body {
      color: #646464;
      text-align: center;
      font-weight: normal;
  }
  
  h1 {
      font-size: 70px;
      font-weight: bold;
  }
  
  h2 {
      font-size: 40px;
  }
  
  h3 {
      font-size: 20px;
  }
  
  h4 {
      font-size: 18px;
  }
  
  p {
      text-align: justify;
      font-size: 16px;
      color: #333;
  }
  /* END */
  